# Building and releasing library:
*.egg-info/
*.pyc
*.so
build/
dist/
docs/_build/

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

# Virtual environments
pyvenv.cfg
venv/
/Lib/
/Scripts/
